body {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 251, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: black;
}

fieldset {
  width: 110%;
  border: 5px solid white;
  border-radius: 30px;
  padding: 20px;
  margin-top: 10px;
}

input:required {
  border: 2px solid white;
}

input:read-only {
  border: 5px white;
}

select {
  cursor: pointer;
}

input[type="radio"]:checked {
  height: 15px;
  width: 15px;
}

input[type="radio"]:checked + label {
  font-size: 20px;
  color: white;
}

input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
select,
textarea {
  width: 200px;
  resize: none;
}

p {
  display: none;
}
input:hover + p {
  display: inline;
}
img {
  display: none;
}
input[type="email"]:focus:valid ~ img.valid,
input[name="age"]:focus:valid ~ img.valid,
input[type="email"]:focus:invalid ~ img.invalid,
input[name="age"]:focus:invalid ~ img.invalid {
  display: inline;
  height: 15px;
  width: 20px;
  border-radius: 50px;
}
